DirectoryIndex index.php

<IfModule mod_rewrite.c>
    RewriteEngine On

    # 1. Cho phép tải trực tiếp ảnh, css, js từ thư mục public/
    RewriteCond %{DOCUMENT_ROOT}/public/$1 -f
    RewriteRule ^(.+)$ public/$1 [L]

    # 2. Điều hướng mọi truy vấn khác vào index.php
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>
